# .gitignore
# Terraform files
**/.terraform*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate*
**/*.tfvars.json
**/terraform/rough.tf


# IDE/Editor files
**/.history
**/.vscode/*
!.vscode/settings.json
**/.idea

#Test Result
test-results